h1{
    font-size: 3.5rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
}

.task-container{

    padding: 8px;
}

#main-container{
    margin: auto;
    text-align: center;
    margin-top: 40px;
}

.single-task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid lightgrey;
    margin-bottom: 10px;
    padding: 8px 12px;
}

#btn-close{
    font-size: 2rem;
    color: red;
}

.taskDone{
    text-decoration: line-through;
}
